<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #AC7CCB;">
    <div class="container-fluid">
      <a class="navbar-brand animate__animated animate__bounce text-white fw-bold" href="#"><h2>Moticrea</h2></a>

     
      <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Nosotros</a>
          </li>
          <li class="nav-item" routerLink="Posts" routerLinkActive="active">
            <a class="nav-link text-white" >Posts</a>
          </li>
          <li   routerLink="Contact" 
               routerLinkActive="active"
                class="nav-item">
            <a class="nav-link text-white">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav ">
            <li routerLink="SingUp" 
                routerLinkActive="active"
                class="nav-item">
                <a class="nav-link text-white">Registro</a>
            </li>
            <li routerLink="Login" 
                routerLinkActive="active"
                class="nav-link nav-item text-white">
               Iniciar Sesion
            </li>
        </ul>
      </div>

    </div>
</nav>
