<div class="container">
  <table class="table table-Secondary table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i}}</td>
        <td> {{user.login}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>


