
<div class="container"> 
<hr>
      <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card  border-white "  >
                <hr>
                <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/login.png"  alt="..." width="40%">
                <h4 style="text-align:center;" >Iniciar Sesion</h4>
                <hr>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="***********">
                    </div>

                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="button" class="btn btn-success">Ingresar</button>
                    </div>
                    <hr>
                </div>
              </div>
        </div> 
        <div class="col"></div>
    </div>
<hr>
</div>