
<div class="container-fluid height-full" style="background-color: #AC7CCB; ">
    <div class="row">
      <div class="col" style="text-align: center;" > </div>
      <div class="col  text-white" style="text-align: center;" >
        <hr>
        <h4 class="fs-5"> Siguenos en:</h4>
        <hr>
        <div class="row animate__animated  animate__headShake" >
            <div class="col "> 
                <img src="../../../assets/ImagenesPublicas/instagram (2).png">
            </div>
            <div class="col"> 
                <img src="../../../assets/ImagenesPublicas/facebook (2).png">
            </div>
            <div class="col"> 
                <img src="../../../assets/ImagenesPublicas/youtube.png" >
            </div>
        </div>
        <hr>
      </div>
      <div class="col"></div>
    </div>
</div>
