<div class="container">

    <div class="row">
        <div class="col" style="text-align: center;">
            <hr>
            <p class="fs-3 fst-italic">
                Ayuda psicologíca en linea
            </p>
            <div class="row">
                <div class="col">
                    <div class="card  border-white " >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/proteger.png"  alt="..." width="40%">
                        <div class="card-body">
                          <p class="card-text">Seguridad y confidencialidad de la informacion de cada usuario.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card  border-white " >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/certificado.png"  alt="..." width="40%">
                        <div class="card-body">
                          <p class="card-text">Contamos con un grupo de psicologos capacitados para brindar siempre la mejor ayuda</p>
                        </div>
                      </div>
                </div> 
                <div class="col">
                    <div class="card  border-white " >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/unido.png"  alt="..." width="40%">
                        <div class="card-body">
                          <p class="card-text">Nos aseguramos de brindar el acompañamiento y seguimiento a cada uno de los casos</p>
                        </div>
                      </div>
                </div>
            </div>
            <p></p>
            <p class="fs-3 fst-italic">
               Solicitar ayuda es muy facil
            </p>
            <div class="row">
                <div class="col">
                    <div class="card border-white " >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/Registrate.png"  alt="..." width="50%">
                        <div class="card-body">
                          <p class="card-text">1. Registrate</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card  border-white " >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/calendario.png"  alt="..." width="50%">
                        <div class="card-body">
                          <p class="card-text">2. Busca disponibilidad y agendate.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card  border-white" >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/Reunir.png"  alt="..." width="50%">
                        <div class="card-body">
                          <p class="card-text">3. Asiste a tu cita por el medio acordado.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card border-white" >
                        <img class="mx-auto d-block" src="../../../assets/ImagenesPublicas/resultado.png"  alt="..." width="50%">
                        <div class="card-body">
                          <p class="card-text">4.El resultado y observaciones de tu consulta seran cargados a tu perfil.</p>
                        </div>
                      </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</div>