
<div class="container">
    <hr>
    <p>
        Enterate de lo nuevo u articulos que moticrea tiene para ti,
        aqui viene un ng for a la tabla de los posts para que se puedan actualziar y ser visibles por todos.
        mirar el video de fasts con los usuarios como los alinia
    </p>
    <div class="col-md-4" >
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">12/12/2021.</p>
                <p class="card-text">Escrito por.</p>
                <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">12/12/2021.</p>
                <p class="card-text">Escrito por.</p>
                <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">12/12/2021.</p>
                <p class="card-text">Escrito por.</p>
                <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
            
        </div>
      </div>
    <hr>
</div>